*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}


div.MainContainer{
    width: 700px;;
    margin: auto;
}

input[type=text]{
    width: 180px;
    height: 25px;
    padding-left: 20px;  
}

input[type=password]{
    width: 180px;
    height: 25px;
    padding-left: 20px;  
}

input[type=submit]{
    width: 204px;
    height: 25px;
}

.label {
    margin-right: 50px;
    width: 204px;
    line-height: 30px;
    text-align: center;

}

body{
    background-color: white;
}


div.FloatContainer{
    clear: both;
    overflow: auto;
}

div.FloatContainer div.FloatLeft{
    float: left;
}

div.FloatContainer div.FloatRight{
    float: right;
}

div.FloatContainer div.FloatEndRight{
    float: right;
    clear: right;
}

.MarginLeft10{
    margin-left: 10px;
}

.MarginLeft15{
    margin-left: 15px;
}

.MarginLeft20{
    margin-left: 20px;
}

.MarginTop10{
    margin-top: 10px;
}

.MarginTop15{
    margin-top: 10px;
}

div.MarginTop20{
    margin-top: 10px;
}
div.MarginTop50{
    margin-top: 50px;
}

div.SignUpForm {
    float: left;
    width: 300px;
}

div.SubmitButtons {
    margin-top: 25px;
    width: 302px;
    height: 400px;
    float: left;
}

.LblDisplayUsers {
    height: 178px;
    width: 300px;
    float: left;
    border: 1px solid black;
}