*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.Header {
    width: 1060px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}

div.MainContainer {
    width: 1060px;
    overflow: auto;
    margin: auto;
    padding: 20px;
    overflow: auto;
    border: 1px solid black;
}
select {
    width: 204px;
    height: 25px;
    padding-left: 20px;  
    margin: 5px;
}
input[type=text]{
    width: 180px;
    height: 25px;
    padding-left: 20px;  
    margin: 5px;
}

input[type=password]{
    width: 180px;
    height: 25px;
    padding-left: 20px;
    margin: 5px;
}

button {
    width: 60px;
    height: 25px;
}

input[type=submit]{
    width: 204px;
    height: 25px;
    margin: 5px;
}

body{
    background-color: white;
}


div.FloatContainer{
    clear: both;
    overflow: auto;
}

div.FloatContainer div.FloatLeft{
    float: left;
}

div.FloatContainer div.FloatRight{
    float: right;
}

div.FloatContainer div.FloatEndRight{
    float: right;
    clear: right;
}

.MarginAuto {
    margin: auto;
}

.MarginLeft10{
    margin-left: 10px;
}

.MarginLeft15{
    margin-left: 15px;
}

.MarginLeft20{
    margin-left: 20px;
}

.MarginTop10{
    margin-top: 10px;
}

.MarginTop15{
    margin-top: 10px;
}

div.MarginTop20{
    margin-top: 10px;
}
div.MarginTop50{
    margin-top: 50px;
}

div.SignUpForm {
    width: 205px;
}

div.LoginForm{
    width: 205px;;
}

.EditForm {
    display: none;
}
div.LeftColumn {
    float: left;
}

div.RightColumn {
    height: 432px;
    width: 800px;
    border: 1px solid black;
    float: left;
    margin-left: 10px;
    margin-top: 24px;
}


/*******  Sharings Table Styling  ********/
/*table.TxtSharingsTable input[type=text]{
    width: 95px;
    height: 23px;
    margin: 0;
    padding: 0;
}

table.TxtSharingsTable thead tr th{
    width: 104px;
    height : 30px;
}
table.TxtSharingsTable tbody tr td {
    width: 104px;
    height: 30px;
}*/

#LblDisplaySharings table th {
    font-size: 13px;
    text-align: left;
}
#LblDisplaySharings table td {
    font-size: 13px;
}

#LblDisplaySharings table .number{
    width: 30px;
}
#LblDisplaySharings table .status{
    width: 50px;
}
#LblDisplaySharings table .pickup{
    width: 100px;
}
#LblDisplaySharings table .via{
    width: 100px;
}
#LblDisplaySharings table .via input[type=text]{
    width: 90px;
    height: 20px;
    padding: 0;
    margin: 0;
}
#LblDisplaySharings table .destination{
    width: 100px;
}
#LblDisplaySharings table .destination input[type=text]{
    width: 90px;
    height: 20px;
    padding: 0;
    margin: 0;
}
#LblDisplaySharings table .sharingdate{
    width: 100px;
}
#LblDisplaySharings table .sharingdate input[type=text]{
    width: 90px;
    height: 20px;
    padding: 0;
    margin: 0;
}

#LblDisplaySharings table .seats{
    width: 40px;
}
#LblDisplaySharings table .seatsbooked{
    width: 90px;
}
#LblDisplaySharings table .button{
    width: 70px;
}

/*******  User Bookings Table Styling  ********/


#LblDisplayBookings table th {
    font-size: 13px;
    text-align: left;
}
#LblDisplayBookings table td {
    font-size: 13px;
}

#LblDisplayBookings table .number{
    width: 30px;
}
#LblDisplayBookings table .status{
    width: 90px;
}
#LblDisplayBookings table .pickup{
    width: 100px;
}
#LblDisplayBookings table .via{
    width: 100px;
}
#LblDisplayBookings table .via input[type=text]{
    width: 90px;
    height: 20px;
    padding: 0;
    margin: 0;
}
#LblDisplaySharings table .button{
    width: 70px;
}

/******All Bookings Table Style********/

#LblSharingsBook table th {
    font-size: 13px;
    text-align: left;
}
#LblSharingsBook table td {
    font-size: 13px;
}

#LblSharingsBook table .number{
    width: 30px;
}
#LblSharingsBook table .status{
    width: 50px;
}
#LblSharingsBook table .pickup{
    width: 100px;
}
#LblSharingsBook table .via{
    width: 100px;
}
#LblSharingsBook table .via input[type=text]{
    width: 90px;
    height: 20px;
    padding: 0;
    margin: 0;
}
#LblSharingsBook table .destination{
    width: 100px;
}
#LblSharingsBook table .destination input[type=text]{
    width: 90px;
    height: 20px;
    padding: 0;
    margin: 0;
}
#LblSharingsBook table .sharingdate{
    width: 100px;
}
#LblSharingsBook table .sharingdate input[type=text]{
    width: 90px;
    height: 20px;
    padding: 0;
    margin: 0;
}

#LblSharingsBook table .seats{
    width: 40px;
}
#LblSharingsBook table .seatsbooked{
    width: 90px;
}
#LblSharingsBook table .button{
    width: 70px;
}
